node_modules
**/node_modules
**/dist
**/build
**/coverage
.git
.gitignore
.env
.env.*
!.env.example
*.md
docs
.DS_Store
npm-debug.log*
pnpm-debug.log*
package-lock.json
**/package-lock.json
yarn.lock
